body {
  background: #0f1220;
  color: #dff;
  font-family: monospace;
  text-align: center;
}

.title {
  color: #3cffb4;
}

.subtitle {
  opacity: 0.8;
  margin-bottom: 10px;
}

#canvas {
  position: relative;
  width: 900px;
  height: 400px;
  margin-left: 50px;
}

.node, .slot {
  position: absolute;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #3cffb4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  background: #101820;
  color: white;
}

.slot {
  border-style: dashed;
}

.numbers {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 0px;
}

.num {
  width: 60px;
  height: 40px;
  border: 2px solid #ffaa00;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background: #181818;
}

.num.used {
  opacity: 0.3;
  pointer-events: none;
}

#msg {
  margin-top: 20px;
  color: #3cffb4;
  font-size: 20px;
}

.hint-box {
  width: 460px;
  margin: 12px auto;
  padding: 10px;
  border: 1px dashed #00ff88;
  background: rgba(0, 255, 136, 0.08);
  font-size: 14px;
  text-align: left;
}

.hint-box ul {
  margin: 6px 0 0 18px;
}